body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F1EFEF;
}

.container {
    text-align: center;
}

.fancy-button {
    background-color: #F50057;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fancy-button:hover {
    background-color: #F50057;
}
